<Languages><List>
	<Language Name="VietSource">
		<DisplayName>VietSource</DisplayName>
		<Icon>vnflag.png</Icon>
		<!--0:CNMODE 1:ENMODE-->
		<UIMode>1</UIMode>
		<Desc>VietPhrase</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
		 <!--change the labelword in StoryTxt -->
	</Language>
</List></Languages>